<div ng-controller="search.product.brand.controller" style="text-align: left">    
    <input ng-model="product.brand" class="form-control inline-glyphicon required focus" 
           placeholder="What is the Brand? (Apple, BMW, )" 
           typeahead="x for x in getBrands($viewValue) | filter:$viewValue" 
           typeahead-loading="loadingBrands"
           capitalize-first
           required />
    <i class="glyphicon glyphicon-search inline-glyphicon"></i>
    <i ng-show="loadingBrands"></i>  
</div>
