/* app css stylesheet */

body {
    color:#777;
}

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.glyphicon-search:hover {
    cursor: pointer;
}

hr {
    margin: 9px 0;
}

h2 {
    margin-top: 0px;
}

.h2 {
    font-size: x-large;
}

.h3 {
    font-size: large;
    color: #777;
}

input.inline-glyphicon:focus {
    box-shadow:none !important;
    border-color: green;
}

input.form-control:focus {
    box-shadow:none !important;
    border-color: green;
}

i.inline-glyphicon {
    position: relative;
    top: -23px;
    float: right;
    right: 12px;
}

i.inline-glyphicon-span {
    position: absolute;
    top: 10px;
    z-index: 999;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-group-addon {
    min-width:100px;
    text-align:left;
    font-weight: bold;
}

.stars {
    font-size: x-large;
}

.stars-fill {

}

/* BEGIN rating star logic */
.rating {
    overflow: hidden;
    display: inline-block;
}
.rating-input {
    position: absolute;
    width: 0px;
    
}
.rating-star {        
    display: block;
    float: right;        
    width: 64px;
    height: 64px;
}
#rating-star-1-5, #rating-star-2-5, #rating-star-3-5, #rating-star-4-5, #rating-star-5-5 {
    background: url('common/images/rating-stars.png') 0px 0px;
}
#rating-star-1-5:hover,
#rating-input-1-5:checked + #rating-star-1-5 {
    background-position: 0px -64px;
}
#rating-star-2-5:hover,
#rating-input-2-5:checked + #rating-star-2-5 {
    background-position: -64px -64px;
}
#rating-star-2-5:hover ~ #rating-star-1-5,
#rating-input-2-5:checked ~ #rating-star-1-5 {
    background-position: -64px -64px;
} 
#rating-star-3-5:hover,
#rating-input-3-5:checked + #rating-star-3-5 {
    background-position: -128px -64px;
}  
#rating-star-3-5:hover ~ #rating-star-2-5,
#rating-input-3-5:checked ~ #rating-star-2-5 {
    background-position: -128px -64px;
}
#rating-star-3-5:hover ~ #rating-star-1-5,
#rating-input-3-5:checked ~ #rating-star-1-5 {
    background-position: -128px -64px;
} 
#rating-star-4-5:hover,
#rating-input-4-5:checked + #rating-star-4-5 {
    background-position: -192px -64px;
}  
#rating-star-4-5:hover ~ #rating-star-3-5,
#rating-input-4-5:checked ~ #rating-star-3-5 {
    background-position: -192px -64px;
} 
#rating-star-4-5:hover ~ #rating-star-2-5,
#rating-input-4-5:checked ~ #rating-star-2-5 {
    background-position: -192px -64px;
} 
#rating-star-4-5:hover ~ #rating-star-1-5,
#rating-input-4-5:checked ~ #rating-star-1-5 {
    background-position: -192px -64px;
} 
#rating-star-5-5:hover,
#rating-input-5-5:checked + #rating-star-5-5 {
    background-position: -256px -64px;
}  
#rating-star-5-5:hover ~ #rating-star-4-5,
#rating-input-5-5:checked ~ #rating-star-4-5 {
    background-position: -256px -64px;
} 
#rating-star-5-5:hover ~ #rating-star-3-5,
#rating-input-5-5:checked ~ #rating-star-3-5 {
    background-position: -256px -64px;
} 
#rating-star-5-5:hover ~ #rating-star-2-5,
#rating-input-5-5:checked ~ #rating-star-2-5 {
    background-position: -256px -64px;
} 
#rating-star-5-5:hover ~ #rating-star-1-5,
#rating-input-5-5:checked ~ #rating-star-1-5 {
    background-position: -256px -64px;
}
/* END rating star logic */

.required.ng-invalid {
   border-color: red;
   border-width: 1px;
 }

 .ng-invalid2 {
   border-color: red;
   border-width: 1px;
 }
 
 .spin {
  -webkit-animation: spin .5s infinite linear;
  -moz-animation: spin .5s infinite linear;
  -o-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}