<div ng-controller="search.all.controller">
    <form ng-submit="search()">
        <input ng-model="searchText" type="text" placeholder="Business, Product, Movie, Etc.." class="form-control inline-glyphicon" focus />
        <i ng-click="search()" class="glyphicon glyphicon-search inline-glyphicon"></i>
    </form>
    <div ng-repeat="val in agg">
        <h4><a href="#">{{val.name}} <span style="font-size: small;">{{val.extra}}</span></a></h4>
        <h5 style="display: table; width: 100%">
            <div style="display: table-cell; float: left;">{{val.type}}</div>
            <div style="display: table-cell; float: right;">
                <span ng-if="val.rating">
                <span class="stars stars-fill" ng-repeat="n in stars | limitTo:val.rating">&#9733;</span><span class="stars" ng-repeat="n in stars | limitTo:5-val.rating">&#9734;</span>
                </span>
            </div>
        </h5>
        <hr />
    </div>
</div>