<div ng-controller="search.product.model.controller" style="text-align: left">    
    <input ng-model="product.model" class="form-control inline-glyphicon required" 
           placeholder="What is the Model? (iPhone 5, 323i, )" 
           typeahead="p for p in getProducts($viewValue) | filter:$viewValue"
           typeahead-loading="loadingModels"
           required />
    <i class="glyphicon glyphicon-search inline-glyphicon"></i>
    <i ng-show="loadingModels"></i>  
</div>
