<div ng-controller="search.organization.type.controller">
    <input type="text" ng-model="asyncSelected" placeholder="Select a business type" typeahead="t for t in getTypes($viewValue) | filter:$viewValue" typeahead-loading="loadingTypes" class="form-control inline-glyphicon" />
    <i ng-show="loadingTypes" class="glyphicon glyphicon-refresh inline-glyphicon"></i>
</div>
