<div style="text-align: center"> 
    <h3>What do you want to Rate?</h3>
    <p><a href="#/rate/place" class="btn btn-default h3">Place</a></p>
or
<p><a href="#/rate/product" class="btn btn-default h3">Product</a></p>
</div>