@CHARSET "ISO-8859-1";

.css-form input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}
    
 .css-form input.ng-valid.ng-dirty {
   background-color: #78FA89;
}

/* Make the examples and snippets not full-width */
@media (min-width: 768px) {
  .bs-example {
    max-width: 860px; 
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 0 0;
    box-shadow: none;
  }
  .bs-example + .highlight {
    margin-top: -16px;
    margin-left: 0;
    margin-right: 0;
    border-width: 1px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

      .rating {
          overflow: hidden;
          display: inline-block;
      }
      .rating-input {
          position: fixed;
          left: -50px;
          top: -50px;
      }
      .rating-star {        
          display: block;
          float: right;        
          width: 64px;
          height: 64px;
      }
      #rating-star-1-2 {
                background: url('http://truckrepair.com/rating_stars_med.png') 0px 0px;
      }
      #rating-star-1-3 {
                background: url('http://truckrepair.com/rating_stars_med.png') -64px 0px;
      }
      
      #rating-star-1-4 {
                background: url('http://truckrepair.com/rating_stars_med.png') -128px 0px;
      }
      
      #rating-star-1-5 {
                background: url('http://truckrepair.com/rating_stars_med.png') -192px 0px;
      }
      
      #rating-star-1-2:hover,
      #rating-input-1-2:checked + #rating-star-1-2 {
          background-position: 0px -64px;
      }  
      
      #rating-star-1-3:hover,
      #rating-input-1-3:checked + #rating-star-1-3 {
          background-position: -64px -64px;
      }  
            
      #rating-star-1-3:hover ~ #rating-star-1-2,
      #rating-input-1-3:checked ~ #rating-star-1-2 {
          background-position: -64px -64px;
      } 
      
      #rating-star-1-4:hover,
      #rating-input-1-4:checked + #rating-star-1-4 {
          background-position: -128px -64px;
      }  
            
      #rating-star-1-4:hover ~ #rating-star-1-3,
      #rating-input-1-4:checked ~ #rating-star-1-3 {
          background-position: -128px -64px;
      } 
      
      #rating-star-1-4:hover ~ #rating-star-1-2,
      #rating-input-1-4:checked ~ #rating-star-1-2 {
          background-position: -128px -64px;
      } 
      
      #rating-star-1-5:hover,
      #rating-input-1-5:checked + #rating-star-1-5 {
          background-position: -192px -64px;
      }  
      
      #rating-star-1-5:hover ~ #rating-star-1-4,
      #rating-input-1-5:checked ~ #rating-star-1-4 {
          background-position: -192px -64px;
      } 
            
      #rating-star-1-5:hover ~ #rating-star-1-3,
      #rating-input-1-5:checked ~ #rating-star-1-3 {
          background-position: -192px -64px;
      } 
      
      #rating-star-1-5:hover ~ #rating-star-1-2,
      #rating-input-1-5:checked ~ #rating-star-1-2 {
          background-position: -192px -64px;
      } 
      
      

      
.form-group label {
      padding-right: 0px;
      padding-left: 10px;
      }

