<p>[entertainment]</p>
<span>Type of entertainment</span><input ng-model="object.entertainment_type" placeholder="Movie, Musical, etc..." required="required" /><br />
<span>country:</span><input ng-model="object.entertainment_country" placeholder="Country" /><br />
<span>city</span><input ng-model="object.entertainment_city" placeholder="City" />
<div rating="html" ng-controller="ratingCtrl" ></div>