<div class="form-group"><label for="product_name" class="col-sm-2 control-label hidden-xs">Item&nbsp;or&nbsp;Model</label><div class="col-sm-10"><input id="product_name" class="form-control" ng-model="object.product_name" placeholder="Product Model/Name (iPhone 5, Focus, Windows8)" required /></div></div>
<div class="form-group"><label for="product_type" class="col-sm-2 control-label hidden-xs">Type&nbsp;of&nbsp;Product</label><div class="col-sm-10"><input id="product_type" class="form-control" ng-model="object.product_type" placeholder="Type of Product (Phone, Car, OS)" required capitalize /></div></div>
<div class="form-group"><label for="product_brand" class="col-sm-2 control-label hidden-xs">Brand&nbsp;or&nbsp;Company</label><div class="col-sm-10"><input id="product_brand" class="form-control" ng-model="object.product_brand" placeholder="Brand/Company name (Apple, Ford, Microsoft)" required capitalize /></div></div>
<div class="form-group"><label for="product_year" class="col-sm-2 control-label hidden-xs">Model&nbsp;Year</label><div class="col-sm-10 form-inline"><input id="product_year" class="form-control" ng-model="object.product_year"  type="number" min="1970" max="{{max_year}}" /></div></div> 
<div rating="html" ng-controller="ratingCtrl" style="padding: 0px 15px;" ></div>