<!-- <div class="form-group"><label for="rating" class="col-sm-2 control-label">rating</label><div class="col-sm-10"><input id="rating" class="form-control" maxlength="1" width="1" ng-model="object.rating_rating" type="number" min="0" max="3" required /></div></div> -->
<input ng-model="rating_type" type="text" style="display: none;" />

<div class="form-group"><div class="col-sm-offset-2 rating">

    <input type="radio" class="rating-input" value = "3"
        id="rating-input-1-5" ng-model="object.rating_rating">
    <label id="rating-star-1-5" for="rating-input-1-5" class="rating-star"></label>
    <input type="radio" class="rating-input" value = "2"
        id="rating-input-1-4" ng-model="object.rating_rating">
    <label id="rating-star-1-4" for="rating-input-1-4" class="rating-star"></label>
    <input type="radio" class="rating-input" value = "1"
        id="rating-input-1-3" ng-model="object.rating_rating">
    <label id="rating-star-1-3" for="rating-input-1-3" class="rating-star"></label>
    <input type="radio" class="rating-input" value = "0"
        id="rating-input-1-2" ng-model="object.rating_rating">
    <label id="rating-star-1-2" for="rating-input-1-2" class="rating-star"></label>
</div>

<div class="form-group"><div class="col-sm-offset-2 col-sm-10"><textarea ng-model="object.rating_comment" class="form-control" placeholder="Add a comment"></textarea></div></div>
<div class="form-group"><div class="col-sm-offset-2 col-sm-10"><button type="button" ng-click="submitAll()" class="btn btn-primary">submit</button></div></div>