<!-- ADD -->
<!doctype html>
<html lang="en" ng-app="add">
    <head>
        <meta charset="utf-8">
        <title>Ratelus | Add Rating</title>
        <!-- library css files -->
        <link rel="stylesheet" href="../lib/twitter-bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="../lib/twitter-bootstrap/css/bootstrap-theme.css" />
        <!-- custom css files -->
        <link rel="stylesheet" href="../common/css/main.css"/>
        <link rel="stylesheet" href="css/add.css"/>

    </head>
    <body>

        <div class="bs-example">
            <form name="form" class="form-horizontal" novalidate>
                <div ng-controller="objectiveCtrl">
                    <div class="form-group"><div class="col-sm-offset-2 col-sm-10">
                            <select class="form-control" ng-model="objective" ng-change="changed()"  ng-options="option.label for option in objectives">
                                <option value="">what do you like to rate?</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-view="objective.pick"></div>
                {{message}}
            </form>
        </div>


        <!-- library js files -->
        <script src="../lib/jquery/jquery.js"></script>
        <script src="../lib/angular/angular.js"></script>
        <script src="../lib/angular/angular-route.js"></script>
        <script src="../lib/twitter-bootstrap/js/bootstrap.js"></script>
        <!-- custom files -->
        <script src="js/add.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    </body>
</html>
