<div ng-controller="add.product.controller">
    <form name="addProductFrm" ng-submit="rateProduct()" novalidate>
        <i class="input-group"></i>
        <div class="input-group">
            <span class="input-group-addon">model*</span>
            <input ng-model="product.model" type="text" class="form-control required" focus placeholder="What is the product model?" typeahead="v for v in search($viewValue, 'model') | filter:$viewValue" typeahead-loading="loadingModels"  required />
            <i ng-show="loadingModels" class="glyphicon inline-glyphicon inline-glyphicon-span glyphicon-refresh spin"></i>  
        </div>
        <div class="input-group">
            <span class="input-group-addon">brand*</span>
            <input ng-model="product.brand" type="text" class="form-control required" placeholder="What is the brand of this product?" typeahead="v for v in search($viewValue, 'brand') | filter:$viewValue" typeahead-loading="loadingBrands" required />
            <i ng-show="loadingBrands" class="glyphicon inline-glyphicon inline-glyphicon-span glyphicon-refresh spin"></i>
        </div>
        <div class="input-group">
            <span class="input-group-addon">type*</span>
            <input ng-model="product.type" type="text" class="form-control required" placeholder="What type of product is this?" typeahead="v for v in search($viewValue, 'type') | filter:$viewValue" typeahead-loading="loadingTypes" required />
            <i ng-show="loadingTypes" class="glyphicon inline-glyphicon inline-glyphicon-span glyphicon-refresh spin"></i>
        </div>
        <div class="input-group">
            <span class="input-group-addon">model year</span>
            <input ng-model="product.year" type="number" class="form-control " placeholder="What is the model year?" />
        </div>
        <div rating-stars></div>
        <div><button class="btn btn-success" style="float: right" ng-disabled="addProductFrm.$invalid">&check;&nbsp;Submit</button></div>
    </form>
</div>